<!DOCTYPE html>
<html id="top">
  <head>
    <%- include("partials/head.ejs") %>
    <style>

      footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      main{
        margin-top: 140px;
      }
    </style>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

  
<main >






        

          
          <h1 class="ReqUser2"> <%= req.user %></h1>
          <h1 id="id" style="font-size: 0px;"><%= req._id %></h1>
          <h1 class="ReqPhone">    <%= phone %></h1>
        
  

 <% tshert.forEach(item => { %>
    
    <div class="ReqItem">
        <div>
          
          <input type="checkbox" name="" id="ReqCheck">
          <h5 class="ReqName"> <%= item.name %></h5>
        </div>
        <h5 class="ReqPrice"> <%= item.price %> ر.س</h5>
        
    </div>
    <%}); %>
 



        <button id="doneCart">Finish </button>






</main>

<div style="margin-bottom: 100px;"></div>
  <%- include("partials/foter.ejs") %>
  
    
  </body>
  <script>

const doneCart = document.querySelector("#doneCart")
const id = document.querySelector("#id").innerText
doneCart.addEventListener("click", (e) => {
    
    fetch('/api/done', {
            method: 'delete', // or 'PUT'
             headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
            id
            }),
                })
             .then((response) => response.json())
             .then((data) => {
                console.log(data)
                if(data.data == "done"){

                 window.location.href = "/home/admin/dashboard"
                }
             })
})
      </script>
</html>
